global:
  scrape_interval:     10s
  evaluation_interval: 10s
scrape_configs:
  - job_name: 'node'
    static_configs:
      - targets:
        - node-exporter:9100
  - job_name: 's3gw-status'
    static_configs:
      - targets:
        - host.docker.internal:9090
